<h1>New Book</h1>

<% if flash.now[:error] %>
  <% flash.now[:error].each do |f| %>
    <li><%= f %></li>
  <% end %>
<% end %>


<%= form_for @book do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>
<%= f.label :pages %>
<%= f.text_field :pages %><br>
<%= f.label :author %>

<ul>
  <%= f.collection_check_boxes :author_ids, @authors, :id, :name do |k|%>
  <li>
    <%= k.label %>
    <%= k.check_box %>
  </li>
  <% end %>
</ul>

<br><%= f.submit %>
<% end %>
